{% extends 'padre.html' %}

{% block content %}

{% if category_posts %}

<h1> {{ cat }} </h1>

<ul>
{% for post in category_posts %}
<li><a href="{% url 'detailPost' post.pk %}">{{ post.titulo }}</a> 
     - {{ post.autor }} - {{post.fecha}} 

    {% if user.is_authenticated %}
    - <a href="{% url 'updatePost' post.pk %}">Editar</a>
    - <a href="{% url 'deletePost' post.pk %}">Borrar</a>
    <br/> 

    {% endif %}

    {{ post.cuerpo | slice:":200" | safe }}</li>

{% endfor %}
</ul>

{% else %}
    <h2>Categoría inexistente </h2>
{% endif %}

{% endblock %}