{% extends 'padre.html' %}

{% block title %} 

Crear post
 
{% endblock %}

{% block content %}

{% if user.is_authenticated %}

<h1>Crear post</h1>
<br/><br/>
<div class="form-group">
    <form method="POST">
    {% csrf_token %}
    {{ form.as_p }}
    
    <button class="btn btn-secondary">Crear</button> 
</div>

<script>
    var name= "{{ user.id }}";
    document.getElementById("rivas").value
        =name;
</script>

    
{% else %}

No tenés permiso para crear 
    
{% endif %}

{% endblock %}