{% extends 'padre.html' %}

{% block title %} 

Borrar post
 
{% endblock %}

{% block content %}

{% if user.is_authenticated %}
    {% if user.id == post.autor.id %}

        <h1>Borrar post</h1>
        <br/><br/>

        <h3>Borrar: {{post.titulo}}</h3>
        <br/> 

        <div class="form-group">
        <form method="POST">
        {% csrf_token %}
        <strong>Estás segurx?</strong><br/><br/>
        <button class="btn btn-secondary">Borrar</button> 

        </div>
        {% else %}

           No tenés permiso para borrar este post
        
        {% endif %}

{% else %}

No tenés permiso para borrar  
    
{% endif %}

{% endblock %}