{% extends 'padre.html' %}

{% block title %} 

{{ post.titulo }}
 
{% endblock %}

{% block content %}

<h1>{{ post.titulo }}</h1>
<small>Por: 
    {{ post.autor }} - 
    {{post.fecha}}  </small>

    {% if user.is_authenticated %}

        {% if user.id == post.autor.id %}

            - <a href="{% url 'updatePost' post.pk %}">Editar</a>

            <a href="{% url 'deletePost' post.pk %}">Borrar</a>
        
        {% endif %}

    {% endif %}
</br>
<hr>
<br/>

{% if post.imagen %}
    
    <img src="{{ post.imagen.url }}"></br></br>

{% endif %}

{{ post.cuerpo | safe }}

<br/><br/>
<a href="{% url 'home' %}" class="btn btn-secondary">Volver</a>

<br/><br/>
<hr>
<br/>
<form action="{% url 'like_post' post.pk %}" method="POST">{% csrf_token %}
{% if user.is_authenticated %}
    {% if liked %}
        <button type="submit", name="post_id", value="{{ post.id }}", class="btn btn-danger btn-sm">No me gusta</button> 
    {% else %}
        <button type="submit", name="post_id", value="{{ post.id }}", class="btn btn-primary btn-sm">Me gusta</button> 
    {% endif %}
{% else %}
    <small><a href="{% url 'login' %}">Loguearse</a> para darle me gusta a este post</small>
{% endif %}   
        -  {{ total_likes}} Likes
</form>

{% endblock %}