{% extends 'padre.html' %}

{% load static %}

{% block title %} 

{{ post.titulo }}
 
{% endblock %}

{% block content %}

<h1>{{ post.titulo }}</h1>
<small>Por: 
    {{ post.autor }} - 
    {{post.fecha}}  </small>

    {% if user.is_authenticated %}

        {% if user.id == post.autor.id %}

            - <a href="{% url 'updatePost' post.pk %}">Editar</a>

            <a href="{% url 'deletePost' post.pk %}">Borrar</a>
        
        {% endif %}

    {% endif %}
</br>
<hr>
<br/>

{% if post.imagen %}
    
    <img src="{{ post.imagen.url }}"></br></br>

{% endif %}

{{ post.cuerpo | safe }}

<br/><br/>
<a href="{% url 'home' %}" class="btn btn-secondary">Volver</a>

<br/><br/>
<hr>
<br/>
<form action="{% url 'like_post' post.pk %}" method="POST">{% csrf_token %}
{% if user.is_authenticated %}
    {% if liked %}
        <button type="submit", name="post_id", value="{{ post.id }}", class="btn btn-danger btn-sm">No me gusta</button> 
    {% else %}
        <button type="submit", name="post_id", value="{{ post.id }}", class="btn btn-primary btn-sm">Me gusta</button> 
    {% endif %}
{% else %}
    <small><a href="{% url 'login' %}">Loguearse</a> para darle me gusta a este post</small>
{% endif %}   
        -  {{ total_likes}} Likes
</form>

</br></br>

<div class="card mb-3">
    <div class="row no-gutters">
      <div class="col-md-2">
          {% if post.autor.profile.avatar %}
            <img src="{{ post.autor.profile.avatar.url }}" height="200" width="200">
          {% else %}
          <img src="{% static 'AppBlogYoga/images/avatar_default.jpg' %}" height="200" width="200">
          {% endif %}
      </div>
      <div class="col-md-10">
        <div class="card-body">
          <h5 class="card-title">{{ post.autor }}</h5>
          <p class="small text-muted">
              {% if post.autor.profile.instagram_url %}
                <a href="{{ post.autor.profile.instagram_url }}">IG</a></p>
              {% endif %}
          <p class="card-text">{{ post.autor.profile.bio }}</p>
      </div>
      </div>
    </div>
  </div>

{% endblock %}