{% extends 'padre.html' %}

{% block content %}

<h1>Posts</h1>

<ul>
{% for post in object_list %}

    <li><a href="{% url 'detailPost' post.pk %}">{{ post.titulo }}</a> 
    - <a href="{% url 'category' post.categoria %}">{{ post.categoria }}</a> - {{ post.autor }} - {{post.fecha}} 

    {% if user.is_authenticated %}

        {% if user.id == post.autor.id %}

            - <a href="{% url 'updatePost' post.pk %}">Editar</a>
            - <a href="{% url 'deletePost' post.pk %}">Borrar</a>
            <br/> 
        
        {% endif %}

    {% endif %}
    {{ post.extracto}}</li>

{% endfor %}
</ul>

{% endblock %}