{% extends 'padre.html' %}
{% load static %}

{% block content %}

<h1>Perfil de usuarix</h1>
</br> 

<div class="card mb-3">
    <div class="row no-gutters">
      <div class="col-md-2">
          {% if page_user.avatar %}
            <img src="{{ page_user.avatar.url }}" height="200" width="200">
          {% else %}
          <img src="{% static 'AppBlogYoga/images/avatar_default.jpg' %}" height="200" width="200">
          {% endif %}
      </div>
      <div class="col-md-10">
        <div class="card-body">
          <h5 class="card-title">{{ page_user.user }}</h5>
          <p class="small text-muted">
              
              {% if page_user.instagram_url %}
                <a href="{{ page_user.instagram_url }}">IG</a></p>
              {% endif %}
          <p class="card-text">{{ page_user.bio }}</p>
      </div>
      </div>
    </div>
  </div>

{% endblock %}